<!DOCTYPE html>
<html>
<head>
    <title>Agregar proveedor</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <h1>Agregar proveedor</h1>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <form action="{{ url_for('add_supplier') }}" method="POST">
        <div>
            <label for="company_name">Nombre de la empresa:</label>
            <input type="text" id="company_name" name="company_name" required>
        </div>
        <div>
            <label for="phone">Teléfono:</label>
            <input type="text" id="phone" name="phone" required>
        </div>
        <div>
            <label for="address">Dirección:</label>
            <input type="text" id="address" name="address" required>
        </div>
        <div>
            <label for="cif">CIF:</label>
            <input type="text" id="cif" name="cif" required>
        </div>
        <div>
            <input type="submit" value="Agregar proveedor">
        </div>
    </form>
</body>
</html>
